#tab_pub.md_box p {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

#tab_pub.md_box hr {
    border: 0;
    border-top: 0.1rem solid #f1f1f1;
}

.author {
    background-color: transparent;
    border: solid 0.2rem transparent;
    transition: all 150ms;
    box-shadow: 0 0 1rem 0 #2d70ae00;
}

#tab_pub > * a {
    display: block;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

#tab_pub > * a::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    float: left;
    margin-right: 0.5rem;
    background: var(--icon-link);
    background-size: cover;
    transform: rotate(315deg);
}

.md_box .spub *:first-child,
.md_box .spub {
    margin-bottom: 2px;
}

.md_box .spub p:first-of-type::before {
    /* opacity: 0.5; */
    content: '• ';
}
.md_box .spub p:not(:first-of-type) {
    margin-left: 1rem;
}
