body { background-color: white; font-family: "Arial", Arial, sans-serif; font-size: 12px; line-height: 1.2; padding: 1em; color: #2E2E2E; }
#qs { width: auto;border-width: 1px 1px 0px 1px; padding: 0.5em 0.5em; display:none; position:relative; }
#qs form { padding: 0px; margin: 0px; }
#qs form p { padding: 0px; margin: 0px; }

.invalidsearch { background-color: red; }

table {width: 100%; empty-cells: show; }
th, td { border-left: 1px #ADADAD solid;border-bottom: 1px #ADADAD solid;padding: 0.7em; vertical-align: center;}
td { text-align: center; vertical-align: center; }
th { background-color: #AED6F1; }
td a { color: navy; text-decoration: none; }
td a:hover  { text-decoration: underline; }
span.tileStyle {font-family: "bold","bold", b;font-size: 30px}

tr.noshow { display: none;}

tr.highlight td { background-color: #F1F1F1; border-top: 2px black solid; font-weight: bold; }
tr.abstract td, tr.review td, tr.bibtex td { background-color: #F1F1F1; border-bottom: 2px black solid; }
tr.nextshow td { border-bottom: 1px gray solid; }

p.infolinks { margin: 0.5em 0em 0em 0em; padding: 0px; }

@media print {
    p.infolinks, #qssettings, #qs { display: none !important; }
    table { border-width: 0px; }
    tr { page-break-inside: avoid; }
    th input, th select { display: none; }
}
